.div-BotaoFechar {
	height: 25px;
	vertical-align:baseline;
	padding-bottom: 10px;
	position: absolute;
    top: 100%;
    width: 100%;
    margin-top: -15%;
}

input[type='button'] {
	text-align: center;
}

#mensagem {
	text-align: center;
	margin: 20%;
}